body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

fieldset,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

li {
    list-style: none
}

a,
a:hover {
    text-decoration: none;
    color: #ffe400;
}

html {
    font-size: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}


/* 小于400 */

@media screen and (max-width:300px) {
    html {
        font-size: 10px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:301px) and (max-width:350px) {
    html {
        font-size: 12px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:351px) and (max-width:420px) {
    html {
        font-size: 12px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:421px) and (max-width:490px) {
    html {
        font-size: 12px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:491px) and (max-width:620px) {
    html {
        font-size: 14px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:621px) and (max-width:1023px) {
    html,
    body {
        font-size: 20px;
    }
}


/* 大于960 小于1200 */

@media screen and (min-width:1024px) and (max-width:2000px) {
    html,
    body {
        font-size: 24px;
    }
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "hiragino sans gb", Arial;
    color: #fff;
}

.wrap {
    position: relative;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}


/*椤甸潰鍔犺浇鎻愮ず*/

.mod_loading {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    display: -webkit-box;
    -webkit-box-align: center;
}

.mod_loading .content {
    text-align: center;
    -webkit-box-flex: 1;
    margin: 0 80px;
}

.mod_loading .content .progress {
    height: 13px;
    padding: 2px;
    -webkit-border-radius: 17px;
    border-radius: 17px;
}

.mod_loading .content .progress span {
    display: block;
    height: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
}

.mod_loading .content p {
    line-height: 34px;
    color: #5f696a;
}


/*婊戝潡*/

.slider {
    position: absolute;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    left: 50%;
    bottom: 10px;
    z-index: 9999;
}

.slider span {
    position: absolute;
    width: 24px;
    height: 35px;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -12px;
    background-position: -158px -46px;
    -webkit-animation: slide_up 2s infinite ease-out;
}

.item,
.item .box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@-webkit-keyframes slide_up {
    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -8px, 0);
    }
}

.item-7 {
    background: #f3f1bb url(img/item_7_bg.jpg) no-repeat;
    background-size: cover;
}

.item-8 {
    background: #f3d2ac;
}


/*  -----------------------------------------------------  */

.item-1,
.item-2,
.item-3,
.item-4 {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.alllogo {
    background-image: url(../imgs/page1/biglogo.png);
    position: fixed;
    z-index: 999;
    width: 25%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.9rem;
    top: 20px;
    left: 20px;
}

.item1 {
    background-image: url(../imgs/page1/hailang_2.png);
    width: 100%;
    height: 100%;
}

.text1 {
    background: url(../imgs/page1/text1.png);
    animation: bounceInDown 5s 1s;
}

.text2 {
    background: url(../imgs/page1/text2.png);
    animation: lq-bounceInDown 5s 5.5s, backOutUp 2s 10s;
}

.text1,
.text2 {
    position: absolute;
    z-index: 10;
    bottom: 0;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    padding-top: 40%;
    opacity: 0;
}

.toPage {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 12;
    bottom: 0;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: topage 2s 11s;
    animation-fill-mode: forwards;
}

.toPage .bg {
    position: absolute;
    z-index: 13;
    bottom: 0;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url(../imgs/page1/logo.png) no-repeat;
    background-size: contain;
}

.toPage .circle {
    position: absolute;
    z-index: 11;
    bottom: 0;
    top: 0%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    opacity: 0;
    width: 110px;
    height: 110px;
}

.cbox {
    position: absolute;
    bottom: 0;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 110px;
    height: 110px;
}

.toPage .circle:first-child {
    background-color: rgba(255, 255, 255, 0.473);
    animation: circle-opacity 2s infinite;
}

.toPage .circle:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.473);
    animation: circle-opacity 2s infinite;
    animation-delay: .3s;
}

.toPage .circle:nth-child(3) {
    background-color: rgba(255, 255, 255, 0.473);
    animation: circle-opacity 2s infinite;
    animation-delay: .6s;
}

@keyframes circle-opacity {
    0% {
        transform: scale(1);
        opacity: 0.0;
    }
    25% {
        transform: scale(1.5);
        opacity: 0.1;
    }
    50% {
        transform: scale(2);
        opacity: 0.3;
    }
    75% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes lq-bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
        transform: translate3d(0, -3000px, 0) scaleY(3);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
        transform: translate3d(0, 25px, 0) scaleY(0.9);
    }
    75% {
        opacity: 1;
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
        transform: translate3d(0, -10px, 0) scaleY(0.95);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
        transform: translate3d(0, 5px, 0) scaleY(0.985);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.bg1 {
    animation: lq-bg1 .6s infinite;
}

@keyframes lq-bg1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(40);
        opacity: 1;
    }
}


/* canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
} */


/*这里是将下面canvas绘制放大后的视频缩小为设备的大小*/

.item-1 .video {
    position: absolute;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    background: url(../imgs/page1/hai.gif) no-repeat center center;
    background-size: 100% 100%;
}

.item1_wuyun {
    background: url(../imgs/page1/wuyun.png);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0%;
    background-size: cover;
}

.item1_lang2 {
    background: url(../imgs/page1/hailang_2.png);
    width: 100%;
    padding-top: 64%;
    z-index: 6;
    position: absolute;
    bottom: 20%;
    background-size: cover;
}

.item1_chuan {
    z-index: 6;
    position: absolute;
    bottom: -10px;
    width: 70%;
    padding-top: 38%;
    background: url(../imgs/page1/chuang.png);
    background-size: cover;
}

.item1_lang {
    z-index: 5;
    position: absolute;
    bottom: 0;
    width: calc(100% + 20px);
    padding-top: 54%;
    left: -10px;
    background: url(../imgs/page1/hailang_1.png);
    background-size: cover;
}

.item1_shandian {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 6;
    background-size: contain;
    background-image: url(../imgs/page1/shandian.png);
}

.xiayuxiaoguo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.xiayu {
    animation: xiayu 2s forwards;
    -webkit-animation: xiayu 2s forwards;
}

.yudi {
    width: 3px;
    height: 15px;
    border-radius: 2px 2px 5px 5px;
    position: absolute;
    top: 0%;
    background: rgba(241, 241, 241, 0.375);
    transform: rotate(10deg);
}

.lq-shangdian {
    animation: shandian 5s 2s ease-in-out;
    opacity: 0;
}

.lq-chuan {
    animation: chuan 2s ease-in-out infinite;
}

@keyframes xiayu
/* Firefox */

{
    to {
        top: 130%;
    }
}

@-webkit-keyframes xiayu
/* Safari 和 Chrome */

{
    to {
        top: 130%;
    }
}

@keyframes chuan {
    0% {
        left: 10%;
        transform: rotateX(30deg) translate(-5px, 10px);
    }
    60% {
        left: 20%;
        transform: rotateX(-10deg) translate(-10px, 10px);
    }
    100% {
        left: 10%;
        transform: rotateX(30deg) translate(-5px, 10px);
    }
}

@keyframes shandian
/* Firefox */

{
    10% {
        -webkit-opacity: 1;
        opacity: 1;
    }
    20% {
        -webkit-opacity: 0;
        opacity: 0;
    }
}

@-webkit-keyframes xiayu
/* Safari 和 Chrome */

{
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

.lq-lang {
    animation: shakeX 4s ease-in-out infinite;
}

@keyframes shakeX {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(20px, 0, 0);
        transform: translate3d(20px, 0, 0);
    }
}


/* .lq-bg1 {
    animation: shakeX 2s ease-in-out infinite;
} */

.item-2 {
    background: url(../imgs/page2/map.png) top 30% center, url(../imgs/page2/bolang.png) center bottom 18%;
    background-size: 90%, 100%;
    background-position: auto auto 80% auto;
    background-repeat: no-repeat;
}

.item2_logo {
    width: 30%;
    padding-top: 13.5%;
    background-image: url(../imgs/page2/log.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    margin: 0 auto;
    animation: fadeInLeftBig 1s ease-in-out;
}

.timeLine {
    margin-top: 25%;
    font-size: 1.1rem;
}

.timeItem:hover,
.timeItem:active {
    transform: scale(1.4);
}

.timeItem {
    display: flex;
    padding-top: 1.7rem;
    color: #000;
    margin: 0 2.5%;
    width: 95%;
}

.timeItem .left {
    width: 8rem;
    flex-shrink: 1;
    text-align: right;
    color: rgb(119, 119, 119);
    font-weight: 600;
}

.timeItem .right {
    width: calc(100% - 170px);
    color: rgb(0, 119, 255);
    font-weight: 600;
}

.timeItem .center {
    width: 1.45rem;
    position: relative;
    margin: 0 1.25rem;
    margin-top: -0.35rem;
}

.timeItem .center::before {
    content: "";
    height: calc(100% + 1.35rem);
    position: absolute;
    top: .25rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 2px;
    background-color: rgb(175, 174, 174);
    z-index: 1;
}

.timeItem .center span {
    position: absolute;
    height: 0.75rem;
    width: .75rem;
    border-radius: 50%;
    border: .15rem solid rgb(0, 119, 255);
    top: 0.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #fff;
    z-index: 3;
}


/* 4 */

.item4-youting {
    position: absolute;
    width: 200%;
    height: 85%;
    left: -100%;
    bottom: 8%;
    z-index: 2;
    animation: youting 2s linear;
    animation-fill-mode: forwards;
}

@keyframes youting {
    0% {
        left: -100%;
    }
    100% {
        left: -70%;
    }
}

@keyframes yuncai {
    0% {
        right: -100%;
    }
    100% {
        right: -37%;
    }
}

.item4-bottom {
    position: absolute;
    z-index: 33;
    width: 100%;
    bottom: 0;
}

.item4_yuncai {
    background-image: linear-gradient(to bottom, rgba(244, 194, 77, 0), transparent);
    position: absolute;
    width: 200%;
    height: 76%;
    top: -21%;
    right: -100%;
    animation: yuncai 3s linear;
    animation-fill-mode: forwards;
}

.item4_text {
    position: absolute;
    z-index: 13;
    bottom: 22%;
    width: 110%;
    margin: 0 auto;
    opacity: 0;
    animation: item4text 3s 2s linear;
    animation-fill-mode: forwards;
}

.item4_logo {
    position: absolute;
    z-index: 13;
    top: 10px;
    right: 20px;
    width: 100px;
}

.bottomtext {
    position: absolute;
    width: 100%;
    bottom: 30px;
    color: #4a4a4a;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 34;
    /* opacity: 0;
    animation: lq-bottomtext 1s .5s linear;
    animation-fill-mode: forwards; */
}

.bottomtext span {
    margin: 0 2px;
}

@keyframes item4text {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes lq-bottomtext {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 2000px, 0);
        transform: translate3d(0, 2000px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.item3Bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.box-3 {
    text-align: center;
}

.item3title {
    margin: 0 auto;
    margin-top: 17%;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 37px;
}

.item3SubTitle {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: left;
    padding-left: calc(23vw - (14*1.3px));
    margin-bottom: 1.3rem;
}

.item3SubTitle span {
    font-size: 1.5rem;
}

.Box1 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    height: 6.5rem;
    position: relative;
}

.zhubox {
    position: relative;
}

.zhubox p {
    position: absolute;
    top: -1rem;
    line-height: 1;
    left: calc(23vw - (14*1.3px));
    width: 2rem;
    text-align: left;
}

.zhubox p::before {
    content: "";
    width: 50vw;
    height: 1px;
    margin-left: 2rem;
    border-bottom: 1px #fff dotted;
    position: absolute;
    top: .9rem;
}

.zhu1 {
    height: 6rem;
    margin-right: 2rem;
    width: 3rem;
}

.zhu2 {
    height: 6rem;
    width: 3rem;
    animation: lq-xiajiang 1s .5s linear;
    animation-fill-mode: forwards;
}

@keyframes lq-xiajiang {
    from {
        height: 6rem;
    }
    to {
        height: 3.72rem;
    }
}

.duopai {
    width: 30vw;
    animation: lq-zoomInDown 3s .5s linear;
}

@keyframes lq-zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}